HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Directorios y archivos generados por Maven
# IDE IntelliJ
.idea/


# IDE Eclipse

.settings/



# Logs y archivos temporales
log/
logs/
*.log
*.log.*
*.tmp

# Archivos de configuración específicos de entorno
application*.properties

# Archivos de configuración de dependencias
application.yml
application.yaml

# Archivos de registro
*.log

# Dependencias generadas por Maven
lib/
